html, body {
    Font-family: IBM Plex Sans,sans-serif;
    color: #1c3e73;
    background-color: #EEEEEE;
    height: 100%;
}

h1 {
    font-size: 2 rem;
    margin:0px
}

h2 {
    font-size: 1 rem;
    margin:0px;
    margin-left:10px;
    font-weight: lighter;
}

h3 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: lighter;
}

.header {
    font-weight: 780;
    background-color: #1c3e73;
    padding: 10px;
    color:white;
}

.clusterOverview {
      margin: 10px;
      padding: 10px;
      border-style: solid;
      border-width: 1px;
      background-color: #F9F9F9;
}


.row {
  display: flex;
  align-items: stretch
}

.column {
  flex: 50%;
  margin: 10px;
  padding: 10px;
  border-style: dotted;
  border-width: 1px;
  background-color: white;
}